.chamada {
    background-image: url("../img/Hero.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 168px;
    color: #FFFFFF;
    padding: 140px 0px 0px 80px;
}
.chamada__titulo {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
}
.chamada__botao {
    margin-top: 20px;
    padding: 15px;
}